@import url('https://fonts.googleapis.com/css?family=Montserrat');


/* 1. navigation style */
.navigation{
  background: #eee;
  font-family: 'Montserrat', sans-serif;
}
.navigation .navbar-brand{
  color: #000;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}
.navigation ul li{
  text-align: center;
}
.navigation ul li:hover{
  background: #3399ff;
}
.navigation ul li .nav-link{
  color: #000;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
.navigation ul li .nav-link:hover{
  color: #fff;
}
#cpBtn{
  padding: 2px 5px;
}
#cpBtn > div{
  width: 40px;
  height: 4px;
  background: #333;
  margin: 3px 0px;
  border-radius: 4px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}



