@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Handlee&display=swap');
:root{
    --background-color-gray_one:#333;
    --background-color-gray_two:#eee;
    --background-color-gray_three:#ddd;
    --fontMontserrat:'Montserrat', sans-serif;
    --fontHandlee:'Handlee', cursive;
    --buttonBackground: #333;
    --mainColor: #1A237E;
    --secondaryColor: #0D47A1;
    --primaryButton: #3399ff;
    --buttonWhiteColor:#fff;
    --whiteColor: #fff;
    --blackColor: #000;
    --paddingHome: 200px 0px;
    --paddingTopBottom: 100px 0px;
    --positionSticky: 'sticky';
    --topStick: 100px;
    --fontSizeH1: 80px;
    --fontSizeH2: 30px;
    --fontSizeP: 15px;
    --fontSizeH3: 18px;
    --centerAlign: center;
    --leftAlign: left;
    --capitalize: capitalize;
    --uppercase: uppercase;
    --borderRadiusOne: 10px;
    --borderRadiusTwo: 5px;
    --footerColor: #283593;

}


/* 1. navigation style */
.navigation{
    background-color: var(--whiteColor);
    .cpBtn{
        padding: 2px 5px;
        outline: none;
        div{
            width: 20px;
            height: 4px;
            background-color: var(--mainColor);
            margin: 3px 0px;
            border-radius: 4px;
          }
      }
    div{
        ul{
          li{
            margin-right: 30px;
            .nav-link{
              color: var(--blackColor);
              font-family: var(--fontMontserrat);
              font-weight: bold;
            }
            .is-active{
              border: 3px solid var(--mainColor);
              border-radius: 5px;
            //   background-color: var(--mainColor);
            //   color: var(--whiteColor);
          }
          }
        }
      }

  }
  
  



.home{
    padding: var(--paddingHome);
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('./Images/bg14.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 300px 0px;
    .welcome_text{
        font-family: var(--fontMontserrat);
        text-align: var(--centerAlign);
        h1{
            font-size: var(--fontSizeH1);
            color: var(--whiteColor);
            font-family: var(--fontHandlee);
        }
        h2{
            font-size: 30;
            color: var(--whiteColor);
            font-family: var(--fontMontserrat);
        }
        .btn_about_us, .btn_contact_us{
            text-transform: var(--capitalize);
            margin-top: 50px;
        }
        .btn_about_us{
            background: var(--primaryButton);
            padding: 10px 30px;
            color: var(--buttonWhiteColor);
        }
        .btn_contact_us{
            background: var(--buttonBackground);
            padding: 10px 30px;
            color: var(--buttonWhiteColor);
        }
    }
}

.about{
    padding: 100px 0px;
    background-color: var(--mainColor);
    h1{
        font-size: var(--fontSizeH1);
        font-family: var(--fontMontserrat);
        text-align: var(--centerAlign);
        color: var(--whiteColor);
    }
    .about_content{
        font-family: var(--fontMontserrat);
        font-size: var(--fontSizeP);
        text-align: var(--centerAlign);
        .gotohomeDiv{
            padding: 50px;
            .go_to_about{
                background: var(--mainColor);
                padding: 10px 30px;
                color: var(--buttonWhiteColor);
                text-decoration: none;
                border-radius: 5px;
            }
        }
    }
}


.skills{
    padding: 100px 20px;
    .row{
        display: flex;
        .col-md-6{
            .heading_part{
                padding: var(--paddingHome);
                background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('./Images/bg1.jpg');
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                h1{
                    color: var(--whiteColor);
                    text-align: var(--centerAlign);
                    font-family: var(--fontMontserrat);
                    font-size: var(--fontSizeH1);
                }
            }
        }
        .col-md-6{
            .skills_part{
                padding: 0px 50px;
                h1{
                    color: var(--blackColor);
                    text-align: var(--centerAlign);
                    font-family: var(--fontMontserrat);
                    font-size: var(--fontSizeH2);
                }
                h2{
                    color: var(--blackColor);
                    text-align: var(--leftAlign);
                    font-family: var(--fontMontserrat);
                    font-size: var(--fontSizeH3);
                }
            }
        }
    }
}


.parallax_one{
    padding: 200px 0px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('./Images/bg13.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h1{
        color: var(--whiteColor);
        text-align: var(--centerAlign);
        font-family: var(--fontMontserrat);
        font-size: var(--fontSizeH1);
    }
}


.service{
    padding: var(--paddingTopBottom);
    background: var(--background-color-gray_two);
    h1{
        font-size: var(--fontSizeH1);
        font-family: var(--fontMontserrat);
        text-align: var(--centerAlign);
    }
    h2{
        font-size: var(--fontSizeH2);
        font-family: var(--fontMontserrat);
        text-align: var(--centerAlign);
    }
    .service_line{
        .row{
            .col-md-3{
                .service_container{
                    background: var(--whiteColor);
                    text-align: var(--centerAlign);
                    font-family: var(--fontMontserrat);
                    i{
                        font-size: 80px;
                    }
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}


.portfolio{
    padding: var(--paddingTopBottom);
    h1{
        font-family: var(--fontMontserrat);
        text-align: var(--centerAlign);
        font-size: var(--fontSizeH2);
        color: var(--blackColor);
    }
    .row{
        .col-md-4{
            .container_image{
                margin-bottom: 10px;
                border-radius: var(--borderRadiusOne);
                img{
                    border-radius:var(--borderRadiusOne);
                }
            }
        }
    }
}


.parallax_three{
    padding: var(--paddingTopBottom);
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)),url('./Images/bg6.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h1{
        color: var(--whiteColor);
        text-align: var(--centerAlign);
        font-family: var(--fontMontserrat);
        font-size: var(--fontSizeH1);
    }
    p{
        color: var(--whiteColor);
        text-align: var(--centerAlign);
        font-family: var(--fontMontserrat);
        font-size: var(--fontSizeP);
    }
    .got_to_contact{
        padding: 30px 0px;
        text-align: var(--centerAlign);
        .button{
            background: var(--mainColor);
            color: var(--whiteColor);
            padding: 20px 30px;
            text-decoration: none;
            text-transform: var(--capitalize);
        }
    }
}




/*==================================== about_us_page =====================================*/
.about_us_page{
    padding: 200px 0px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('./Images/bg8.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h1{
        color: var(--whiteColor);
        text-align: var(--centerAlign);
        font-family: var(--fontMontserrat);
        font-size: 70px;
    }
    p{
        text-align: left;
        font-family: var(--fontMontserrat);
        color: var(--whiteColor);
    }
  }
  .about_us_section_one{
    padding: 100px 0px;
    .general_info_1{
        padding: 20px 10px;
        font-family: var(--fontMontserrat);
        h1{
            font-size: 50px;
            text-align: center;
            color: var(--blackColor);
            font-family: var(--fontMontserrat);
            margin-bottom: 20px;
        }
        p{
            text-align: left;
            font-family: var(--fontMontserrat);
            color: var(--blackColor);
        }
    }
}

//======================   vison_mission_container ==========
.vison_mission_container{
    padding: 100px 0px;
    background-color: var(--background-color-gray_two);
    h1{
        color: var(--blackColor);
        text-align: var(--centerAlign);
        font-family: var(--fontMontserrat);
        font-size: var(--fontSizeH2);
    }
    p{
        text-align: var(--centerAlign);
        font-family: var(--fontMontserrat);
    }
}



//====================== service page =====================
.service_page{
    padding: 300px 0px;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./Images/bg8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .content{
        h1{
            color: var(--whiteColor);
            font-size: var(--fontSizeH1);
            text-transform: capitalize;
            text-align: var(--centerAlign);
        }
    }
}
.service_quote{
    background-color: var(--blackColor);
    padding: 100px 0px;
    position: relative;
    .content{
        h2{
            color: var(--whiteColor);
            font-size: 30px;
            text-align: var(--centerAlign);
        }
    }
}
// .service_quote:after{
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: #000;
//     -webkit-transform-origin: 100% 0;
//     -ms-transform-origin: 100% 0;
//     transform-origin: 100% 0;
//     -webkit-transform: skew(-45deg);
//     -ms-transform: skew(-45deg);
//     transform: skew(-45deg);
//     z-index: -1;
// }

.service_page_one{
    padding: 100px 0px;
    h1{
        font-size: var(--fontSizeH1);
        font-family: var(--fontMontserrat);
        text-align: var(--centerAlign);
        margin-bottom: 20px;
    }
    .row{
        margin-bottom: 10px;
        .content{
            background-color: #eee;
            padding: 20px 0px;
            text-align: var(--centerAlign);
            i{
                font-size: 50px;
            }
            h2{
                font-size: var(--fontSizeH3);
                text-transform: capitalize;
                // font-weight: bold;
            }
        }
    }
}

.services_maintenance_quotation{
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./Images/bg11.jpg");
    background-position: center;
    background-size: cover;
    padding: 100px 0px;
    background-attachment: fixed;
    .content{
        h1{
            font-size: 30px;
            font-family: var(--fontMontserrat);
            text-align: var(--centerAlign);
            margin-bottom: 20px;
            color: var(--whiteColor);
        }
    }
}

.services_maintenance{
    padding: 100px 0px;
    .content{
        img{
            border-radius: 5px;
        }
    }
    .content_desc{
        padding: 20px;
        margin-bottom: 4px;
        margin-left: -100px;
        margin-right: 100px;
        background-color: var(--whiteColor);
        h1{
            font-size: 20px;
            font-family: var(--fontMontserrat);
            margin-bottom: 20px;
            color: var(--blackColor);
        }
    }
    .content_desc_2{
        padding: 20px;
        margin-bottom: 4px;
        h1{
            font-size: 20px;
            font-family: var(--fontMontserrat);
            margin-bottom: 20px;
            color: var(--blackColor);
        }
    }
}

.service_server_quote{
    padding: 200px 0px;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./Images/bg8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .content{
        h1{
            font-size: 30px;
            font-family: var(--fontMontserrat);
            text-align: var(--centerAlign);
            margin-bottom: 20px;
            color: var(--whiteColor);
        }
    }
}
.service_server{
    padding: 200px 0px;
    background-color: var(--blackColor);
    .content_img{
        img{
            border-radius: 5px;
        }
    }
    .content_desc{
        padding: 20px;
        margin-left: -200px;
        border-radius: 5px;
        margin-top: 100px;
        background-color: var(--whiteColor);
        h1{
            font-size: 20px;
            font-family: var(--fontMontserrat);
            margin-bottom: 20px;
            color: var(--blackColor);
        }
    }
}

.service_domain{
    padding: 200px 0px;
    .content_img{
        img{
            border-radius: 5px;
        }
    }
    .content_desc{
        padding: 20px;
        margin-left: -200px;
        border-radius: 5px;
        margin-top: 100px;
        background-color: var(--mainColor);
        h1{
            font-size: 20px;
            font-family: var(--fontMontserrat);
            margin-bottom: 20px;
            color: var(--whiteColor);
        }
        p{
            font-size: 15px;
            font-family: var(--fontMontserrat);
            color: var(--whiteColor);  
        }
    }
}

.service_webdev{
    padding: 200px 0px;
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./Images/bg1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .content{
        h2{
            color: var(--whiteColor);
            font-family: var(--fontMontserrat);
            text-align: var(--centerAlign);
        }
    }
}
.service_quotation_bottom{
    padding: 200px 0px;
    background-color: #eee;
    .content{
        h2{
            color: var(--blackColor);
            font-family: var(--fontMontserrat);
            text-align: var(--centerAlign);
        }
    }
}
.service_supply{
    // padding: 100px 0px;
    .content_img{
        padding: 300px 20px;
        background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./Images/bg19.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
        padding-right: 200px;
        h1{
            color: var(--whiteColor);
            font-family: var(--fontMontserrat);
            text-align: var(--centerAlign);
            font-size: 50px;
        }
    }
    .content_desc{
        padding: 100px 0px;
        background-color: var(--whiteColor);
        margin-top: 100px;
        margin-left: -200px;
        border-radius: 5px;
        h1{
            color: var(--blackColor);
            font-family: var(--fontMontserrat);
            text-align: var(--centerAlign);
            font-size: 30px;
        }
        ul{
            li{
                line-height: 40px;
                font-family: var(--fontMontserrat);
                font-size: 15px;
                // opacity: 0.2;
            }
        }
    }
}






//========================== contact page =======================
.contact_container{
        padding: 200px 0px;
        background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./Images/bg19.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        h1{
            color: var(--whiteColor);
            font-family: var(--fontMontserrat);
            text-align: var(--centerAlign);
            font-size: 100px;
        }
}

.contact_section_one{
    padding: 100px 0px;
    .content{
        h1{
            color: var(--blackColor);
            font-family: var(--fontMontserrat);
            text-align: var(--centerAlign);
            font-size: 30px;
            font-weight: bold;
        }
        address{
            text-align: var(--centerAlign);
        }
    }
}













//========================= error_page ======================
.error_page{
    padding: 300px 0px;
    .content{
        text-align: var(--centerAlign);
        h1{
            font-size: var(--fontSizeH1);
            font-family: var(--fontHandlee);
        }
        p{
            font-family: var(--fontMontserrat);
            font-size: var(--fontSizeP);
        }
        .back_home{
            background-color: var(--primaryButton);
            color: var(--whiteColor);
            font-family: var(--fontMontserrat);
            padding: 10px 30px;
            text-transform: capitalize;
            text-decoration: none;
        }
    }
}



//========================   footer section ===============
.footer_container{
    background-color: var(--footerColor);
    padding: 20px 0px;
    text-align: var(--centerAlign);
    .address{
        h1{
            color: var(--whiteColor);
            font-family: var(--fontMontserrat);
        }
        p{
            font-family: var(--fontMontserrat);
            font-size: var(--fontSizeP);
            color: var(--whiteColor);
            a{
                font-family: var(--fontMontserrat);
                font-size: var(--fontSizeP);
                color: var(--whiteColor);
                text-decoration: none;
            }
        }
    }
    .copyright{
        p{
            font-family: var(--fontMontserrat);
            font-size: var(--fontSizeP);
            color: var(--whiteColor);
        }
    }
}
